# Временные папки компиляции Visual Studio / Rider
[Db]in/
[Oo]bj/
.vs/
.idea/
*.user
*.suo

# Локальная база данных SQLite (чтобы она не затиралась на сервере)
*.db
*.db-journal
*.db-wal

# Загружаемые пользователями файлы (папка uploads)
# Обычно её не пушат в репозиторий, чтобы не засорять гит картинками и видео
wwwroot/uploads/

# Логи и кэш
*.log
.DS_Store
